.statRow {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.statRowRight {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.column {
  width: 35px;
  margin: 0px;
  border: 3px solid #333;
  background-color: #dfdfdf;
}

.column1 {
  width: 50px;
  align-content: center;
}

.column1R {
  width: 150px;
  align-content: center;
}

.column2 {
  width: 15px;
  align-content: center;
}

.column3 {
  width: 55px;
}

.dice {
  max-width: 500px
}

.die {
  float: right;
}

.aboveFold {
  max-width: 1000px
}

.statBlockRight {
  display: block;
  float: right;
}

#button {
  margin: 20px;
  margin-bottom: 30px;
}

#statBlock {
  display: block;
}

#dieValue {
  font-size: 80px;
  font-weight: bold;
  border-style: double;
  border-width: medium;
  border-color: #dfdfdf;
  float: right;
}

#skillButton {
  float: right;
}
